<div id="image" [ngClass]="{'smaller': smaller}" (mouseleave)="setFalses()">
    <img src="assets/strips.jpg" alt="">
    <img class="strip" [ngClass]="{'active': active[0]}" src="assets/1 - hermiona.jpg" alt="">
    <img class="strip" [ngClass]="{'active': active[1]}" src="assets/2 - furiosa.jpg" alt="">
    <img class="strip" [ngClass]="{'active': active[2]}" src="assets/3 - katniss.jpg" alt="">
    <img class="strip" [ngClass]="{'active': active[3]}" src="assets/4 - avatar.jpg" alt="">
    <img class="strip" [ngClass]="{'active': active[4]}" src="assets/5 - joker.jpg" alt="">
    <img class="strip" [ngClass]="{'active': active[5]}" src="assets/6 - jones.jpg" alt="">
    <img class="strip" [ngClass]="{'active': active[6]}" src="assets/7 - bride.jpg" alt="">
    <img class="strip" [ngClass]="{'active': active[7]}" src="assets/8 - landa.jpg" alt="">
    <img class="strip" [ngClass]="{'active': active[8]}" src="assets/9 - bond.jpg" alt="">

    <div id="areas">
        <div *ngFor="let b of active; let i = index"
             class="area"
             (mouseover)="setFalses(); active[i] = true;"
             (click)="smaller = !smaller"
        ></div>
    </div>
</div>


<div id="content">
    <h1>The Movies</h1>

    <div class="question">
        <h4>O co jde?</h4>
        <p>
            Jednou začas se potkat, společně se <b>navečeřet, podívat se na dobrý film a pokecat o něm</b>.
        </p>
        <hr>
    </div>

    <div class="question">
        <h4>Na jaké filmy se budeme dívat?</h4>
        <p>
            První film bude překvapení. Na dalších se domluvíme společně. Ale myšlenka je vybrat <b>filmy,
            které jsou zajímavé a nesou nějakou myšlenku</b>.
        </p>
        <hr>
    </div>

    <div class="question">
        <h4>Kdy a kde se budeme scházet</h4>
        <p>
            Plán je scházet se asi <b>jednou za měsíc v pondělí</b> po 18. hodině, ale po domluvě to lze změnit.
            Setkáme u <b>někoho doma nebo v klubovně</b>.
        </p>
        <hr>
    </div>

    <div class="question">
        <h4>Co bude na večeři?</h4>
        <p>Buď může někdo uvařit, něco objednáme a nebo každý pojede na sebe. Bude záležet na domluvě.</p>
        <hr>
    </div>

    <div class="question">
        <h4>Pro koho je akce určená?</h4>
        <p>
            Pro všechny rádce a vedení střediska a jejich nejbližší.
        </p>
        <hr>
    </div>

    <div class="question">
        <a href="#" id="facebook"><img src="assets/fb.png" alt=""></a>
        <h4>Kde seženu aktuální informace?</h4>
        <p>
            Na <a href="#">Facebooku</a>
        </p>
        <hr>
    </div>

    <div class="question">
        <h4>Kde a kdy bude první akce?</h4>
        <p>
            První večeře a film se bude promítat <b>15. 10. v klubovně od 18. hodiny</b>.
            Nezapomeňte se přihlásit na Facebooku nebo dát někomu vědět.
        </p>
    </div>

</div>
