<div id="image">
    <img src="assets/strips.jpg" alt="">
    <img class="strip" [ngClass]="{'active': active1}" src="assets/1 - hermiona.jpg" alt="">
    <img class="strip" [ngClass]="{'active': active2}" src="assets/2 - furiosa.jpg" alt="">
    <img class="strip" [ngClass]="{'active': active3}" src="assets/3 - katniss.jpg" alt="">
    <img class="strip" [ngClass]="{'active': active4}" src="assets/4 - avatar.jpg" alt="">
    <img class="strip" [ngClass]="{'active': active5}" src="assets/5 - joker.jpg" alt="">
    <img class="strip" [ngClass]="{'active': active6}" src="assets/6 - jones.jpg" alt="">
    <img class="strip" [ngClass]="{'active': active7}" src="assets/7 - bride.jpg" alt="">
    <img class="strip" [ngClass]="{'active': active8}" src="assets/8 - landa.jpg" alt="">
    <img class="strip" [ngClass]="{'active': active9}" src="assets/9 - bond.jpg" alt="">

    <div class="area" (mouseenter)="active1 = true" (mouseleave)="active1 = false" ngx-scroll-to [ngx-scroll-to-offset]="500"></div>
    <div class="area" (mouseenter)="active2 = true" (mouseleave)="active2 = false" ngx-scroll-to [ngx-scroll-to-offset]="500"></div>
    <div class="area" (mouseenter)="active3 = true" (mouseleave)="active3 = false" ngx-scroll-to [ngx-scroll-to-offset]="500"></div>
    <div class="area" (mouseenter)="active4 = true" (mouseleave)="active4 = false" ngx-scroll-to [ngx-scroll-to-offset]="500"></div>
    <div class="area" (mouseenter)="active5 = true" (mouseleave)="active5 = false" ngx-scroll-to [ngx-scroll-to-offset]="500"></div>
    <div class="area" (mouseenter)="active6 = true" (mouseleave)="active6 = false" ngx-scroll-to [ngx-scroll-to-offset]="500"></div>
    <div class="area" (mouseenter)="active7 = true" (mouseleave)="active7 = false" ngx-scroll-to [ngx-scroll-to-offset]="500"></div>
    <div class="area" (mouseenter)="active8 = true" (mouseleave)="active8 = false" ngx-scroll-to [ngx-scroll-to-offset]="500"></div>
    <div class="area" (mouseenter)="active9 = true" (mouseleave)="active9 = false" ngx-scroll-to [ngx-scroll-to-offset]="500"></div>

</div>


<h1>The Movies</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus elementum dui at neque tempor tempus ut at leo. Duis rhoncus finibus mattis. Quisque convallis laoreet risus. Nam in risus sit amet metus malesuada auctor. Etiam vulputate sit amet ipsum sed bibendum. Phasellus eget consequat ante. Morbi mollis elementum vestibulum. Nulla interdum sem fringilla, tincidunt purus eget, tristique metus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam nunc nunc, fermentum in purus ac, sollicitudin vestibulum diam. Donec facilisis lacus faucibus semper finibus. Sed eros nisl, euismod quis velit ac, ultricies suscipit massa. Duis auctor porta tellus ac dignissim. Sed id mi id nibh tempor placerat ut et lectus. Aenean tincidunt sem ut ullamcorper finibus. Nunc eleifend felis a quam pellentesque, id sagittis elit fermentum.</p>
